SPRING_PROFILES_ACTIVE=local
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/mydatabase
SPRING_DATASOURCE_USERNAME=myuser
SPRING_DATASOURCE_PASSWORD=secret
OPENAI_API_KEY=
OPENAI_MODEL=gpt-5-nano
APP_QIITA_ACCESS_TOKEN=
APP_CORS_ALLOWED_ORIGIN=http://localhost:5173
APP_FETCH_RATE_MS=20000000
APP_RANDOM_REFRESH_CRON="0 0 3 * * *"
APP_RANDOM_REFRESH_LIMIT=300
